@use "../../styles/variables" as var;

.video-container {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#video-content {
  background-color: rgba(71, 10, 79, 0.668);
  margin-top: 150px;
  padding: 30px;
  box-shadow: 5px 5px 10px rgba(248, 125, 255, 0.738), -5px -5px 10px rgba(220, 248, 37, 0.31);
}


#video-content { 
  h1 { 
    color: white;
    font-weight: 200;
  }

  h1 > div { 
    font-weight: 800;
    color:rgba(114, 250, 139, 0.668);
  }
  p { color: rgb(235, 245, 208); }
}

.video-narrative > .container{
  margin-top: 100px;
  background-color: rgb(83, 13, 106);

}